<header class="site-header">
  <div class="wrapper">

    <div>
      <div class="site-title">
        <h1><a href="/">Tanw Aguñ</a></h1>
        <small>An Audio Dictionary of the Apatani Language</small>    
      </div>
      <div class="site-nav ">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/alphabets.html">Alphabets</a></li>
          <li><a href="/dictionary.html">Dictionary</a></li>
          <li><a href="/contact.html">Contact Us</a></li>
        </ul>
      </div>
    </div>

  </div>
</header>
