---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title left-floated-title">Dictionary</h1>
    <div id="dictionary-link"><a href="/dictionary/a.html">A</a> <a href="/dictionary/b.html">B</a> <a href="/dictionary/c.html">C</a> <a href="/dictionary/d.html">D</a> <a href="/dictionary/e.html">E</a> <a href="/dictionary/f.html">F</a> <a href="/dictionary/g.html">G</a> <a href="/dictionary/h.html">H</a> <a href="/dictionary/i.html">I</a> <a href="/dictionary/j.html">J</a> <a href="/dictionary/k.html">K</a> <a href="/dictionary/l.html">L</a> <a href="/dictionary/m.html">M</a> <a href="/dictionary/n.html">N</a> <a href="/dictionary/o.html">O</a> <a href="/dictionary/p.html">P</a> <a href="/dictionary/q.html">Q</a> <a href="/dictionary/r.html">R</a> <a href="/dictionary/s.html">S</a> <a href="/dictionary/t.html">T</a> <a href="/dictionary/u.html">U</a> <a href="/dictionary/v.html">V</a> <a href="/dictionary/w.html">W</a> <a href="/dictionary/x.html">X</a> <a href="/dictionary/y.html">Y</a> <a href="/dictionary/z.html">Z</a></div>
  </header>

  <h1>
  {{ page.alphabet }} {{ page.devanagari }} {% if (page.ipa) %} /{{ page.ipa }}/ {% endif %}
  </h1>

  <article class="post-content dictionary-content">
    {{ content }}
  </article>

</div>
